[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "mordhauBattleEye"

[packages]
asyncio = "*"
pygrok = "*"
reactivex = "*"
"discord.py" = "*"
dacite = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11.3"
python_full_version = "3.11.3"
