[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "mordhau-titles"

[packages]
asyncio = "*"
pygrok = "*"
reactivex = "*"
"discord.py" = "*"
dacite = "*"
python-dotenv = "*"
numpy = "*"
motor = "*"

[dev-packages]
flake8 = "*"
flake8-async = "*"

[scripts]
lint = "flake8"

[requires]
python_version = "3.11.3"
python_full_version = "3.11.3"
